@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto Condensed*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    background: beige;
}


.logo{
      color: white;
      float: left;
      margin-left: 20px;
}

nav{
    height: 70px;
    background-color: black;

}

ul{
    justify-content: center;
    float: right;
    display: flex;
    list-style: none;
}

li{
    padding: 10px;
    float: left;
    margin-right: 30px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

a:hover{
    color: red;
    transition: ease-in 0.2s;
}

.btn1{
    background-color: red;
    border-radius: 15%;
    padding: 5px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    
}
.content{
    background-image: url('assets/bg.jpg');
    height: 700px;
    background-attachment: fixed;
    text-align: center;
}
.div1{
    padding: 150px;
}

.title{
    font-size: 40px;
     color: rgb(243, 69, 69);
}

.para1{
    margin-top: 20px;
    font-style: italic;
    color: rgb(16, 15, 15);
}

.title2{
    text-align: center;
    font-size: 38px;
    margin: 50px;
    margin-bottom: 100px;
}

.para2{
    width: 30%;
    height: 30%;
    margin-right: 300px;
    text-align: center;
    margin-left: 80px;
    float: left;
    font-size: 20px;
}

img{
   width: 40%;
   float: right;
   margin-right: 60px;
   height:400px;
   margin-bottom: 100px;
   box-shadow: inset;
   border-color: black;
}

.sec2{
    background-color: red;
}

.btn2{
    background-color: red;
    border-radius: 15%;
    padding: 5px;
    color: white;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 260px;
}
.title3{
    text-align: center;
    font-size: 38px;
    margin: 50px;
    margin-bottom: 100px;
}

.services{
    width: 32%;
    text-align: center;
    margin-left: 6px;
    height: 150px;
    float: left;
    padding: 5px;
    background-color: gray;
}

.services:hover {
    background-color: white;
    transition: ease-in 0.1s;
}

h2{
    font-size: 25px;
    text-align: center;
}

p{
    font-style: italic;
}

.title4{
    text-align: center;
    font-size: 38px;
}

.btn3{
    background-color: red;
    border-radius: 15%;
    padding: 5px;
    color: white;
    margin-top: 20px;
    font-size: 17px;
    margin-left: 150px;
}

.contact{
    width: 55%;
    float: left;
}

.map{

}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
    text-align: center;
}

